body{
    background-color: rgb(7, 7, 71);
    box-sizing: border-box;
    margin: 15px;
}

header{
    
    padding: 6px;
}

nav, a{
    font-family: 'Fredoka One', cursive;
    font-family: 'Zen Dots', cursive;
    color: lightslategray;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.1em;
    word-spacing: 2px;
    padding-left: 2px;
    margin-top: 10px;
    margin-left: 10px;
}

a:hover{
    color:lightslategray;
}

h1{
    font-family: 'Fredoka One', cursive;
    font-family: 'Zen Dots', cursive;
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.sub-title{
    text-align: center;
}

h3{
    font-family: 'Fredoka One', cursive;
    font-family: 'Zen Dots', cursive;
    color: purple;
    text-align: center;
    font-size: 30px;
    height: 300px;
}

h2{
    color: #fff;
}

.logo{
    color:lightslategray;
}

#contact{
    padding-top: 50px;
}

p{
    color: lightslategray;
    font-family: 'Fredoka One', cursive;
    font-family: 'Zen Dots', cursive;
}

#about p{
    margin: 20px 80px 80px 80px;
    font-size: 20px;
}

.image-2{
    margin-left: 600px;
}

.image-3{
    margin-left: 600px;
    width: 100%;
}

#services ul, li{
    color: rgb(96, 129, 163);
    text-align: center;
    list-style: none;
    font-family: 'Fredoka One', cursive;
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
    padding: 0;
}

form{
    color: #fff;
    display: block;
    justify-content: center;
    margin-left: 800px;
    padding: 7px;
    
}

label, input, textarea{
    margin: 5px;
}

input, textarea{
    background-color: rgb(137, 137, 197);
    outline: none;
    align-items: baseline;
}

.submit{
    outline: none;
}

.image-1{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
}

.coding-logo{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.coding-logo a{
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 300px;
    flex-wrap: wrap;
    margin-top: 60px;
}

#email{
    margin-left: 38px;
}

footer p{
    color: #fff;
}

@media screen and (max-width: 600px) {

   
    text{
       font-size:  18px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    .image-1{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }

    .image-2,
    .image-3{
        max-width: 300px;
        height: 200px;
        margin-left: 40px;
        padding-bottom: 100px;
    }

#services,
#about,
#contact{
    height: 100vh;
    
}

#about h3{
   padding: 0;
   margin: 0;
}

#about p{
    font-size: 18px;
}

nav{
    font-size: 10px;
    margin-right: 75px;
}

    form{
        
        margin-left: 20px;
        padding-bottom: 200px;
    }

    .coding-logo{
        margin-right: 75px;
        padding: 0;
    }

    .coding-logo a{
        display: none;
    }

    footer p{
        padding-top: 500px;
    }

}